.App {
  background-color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.flex-end {
  padding-left: 60rem;
}
.display {
  display: inline;
}
.box {
  background-color: green;
  justify-content: center;
  text-align: center;
  font: bold;
  align-items: center;
  justify-self: center;
  padding-top: 6px;
  color: white;
  font-weight: 500;
}
.color1 {
  background-color: red;
}
.head {
  text-align: center;
}
.position {
  float: right;
}
.margin {
  margin-left: 12.5rem;
  margin-top: 10px;
}
.pad{
  margin-right: 2.6rem;
}
.center{
 margin-left: 8rem;
 margin-top: 2.5rem;
}
button{
  cursor: pointer;
}
.modal-popup{
  width: 50vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  background-color: rgba(0,0,0,0.7);
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.form-card{
  height: auto !important;
  padding-bottom: 1rem !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255) !important;


}
.form-card input{
  width: 70% !important;
  margin-top: 1rem;
}
.form-card button{
  width: auto !important;
  padding: 0.5rem 3rem;
}

.form-group{
  width: 100%;
 display: flex;
 justify-content: center;
 
  
}
